<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style">
    <title>Sistema Escolar</title>

     <!-- ======= Stylesheet ======= -->
  {{!-- <link rel="stylesheet" href="./css/style.css"> --}}

  <!-- ======= Script Main ======= -->
  <script src="js/main.js" defer></script>

  <!-- ======= Boxicons ========== -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    {{{body}}}

    <script src='javascript'></script>
</body>

</html>
